RewriteEngine On

# Remove unwanted query string ?i=1
RewriteCond %{QUERY_STRING} (^|&)i=1(&|$)
RewriteRule ^(.*)$ /$1? [R=301,L]

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Remove .php extension (excluding robots.txt, sitemap.xml, etc.)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/robots\.txt$
RewriteCond %{REQUEST_URI} !^/sitemap\.xml$
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#Order Allow,Deny
#Allow from all
#Deny from 43.225.98.124


